@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@model Abp.Application.Services.Dto.PagedResultDto<EquipmentSystem.DeviceManager.Dto.T_EquipmentListDto>
@{
    ViewBag.Title = L("Equipment");
    ViewBag.ActiveMenu = "Equipment.Equipment";
}
@section scripts
{
    @Html.IncludeScript("~/Views/Equipment/Index.js")
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Equipment")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>Refresh</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@L("EquipmentNumber")</th>
                            <th>@L("EquipmentName")</th>
                            <th>@L("ProductionDateTime")</th>
                            <th>@L("BuyDateTime")</th>
                            <th>@L("Status")</th>
                            <th>@L("Image")</th>
                            <th>@L("EquipmentType")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>@item.EquipmentNumber</td>
                                <td>@item.EquipmentName</td>
                                <td>@item.ProductionDateTime</td>
                                <td>@item.BuyDateTime</td>
                                <td>@item.Status</td>
                                <td>@item.Image</td>
                                <td>@item.T_EquipmentType.TypeName</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block "  data-toggle="modal" data-target="#EquipmentEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block "  data-Equipment-name="@item.EquipmentName"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#EquipmentCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EquipmentCreateModal" tabindex="-1" role="dialog" aria-labelledby="EquipmentCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewEquipment")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="EquipmentCreateForm" role="form" novalidate class="form-validation">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-Equipment-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="EquipmentName" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                            <label class="form-label">@L("EquipmentName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="EquipmentNumber" required maxlength="@AbpUserBase.MaxUserNameLength" minlength="2">
                                            <label class="form-label">@L("EquipmentNumber")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <select class="form-control" name="T_EquipmentType">
                                                @if (ViewBag.EquipmentTypesList != null)
                                                {
                                                    foreach (var item in ViewBag.EquipmentTypesList)
                                                    {
                                                        <option value="@item.Id">@item.TypeName</option>
                                                    }
                                                }
                                            </select>
                                            <label class="form-label" style="z-index: 3">@L("T_EquipmentType")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <select class="form-control" name="Status">
                                                @if (ViewBag.EquipmentStatusList != null)
                                                {
                                                    foreach (var item in ViewBag.EquipmentStatusList)
                                                    {
                                                        <option value="@item.Item1">@L(@item.Item2)</option>
                                                    }
                                                }
                                            </select>
                                            <label class="form-label" style="z-index: 3">@L("Status")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="ProductionDateTime" class="form-control datepicker" required maxlength="@AbpUserBase.MaxNameLength">
                                            <label class="form-label">@L("ProductionDateTime")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="BuyDateTime" class="form-control datepicker" required maxlength="@AbpUserBase.MaxSurnameLength">
                                            <label class="form-label">@L("BuyDateTime")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
                                                <label class="form-label">@L("ConfirmPassword")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="filled-in" checked />
                                        <label for="CreateEquipmentIsActive">@L("IsActive")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EquipmentEditModal" tabindex="-1" role="dialog" aria-labelledby="EquipmentEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

